<div class="fables-header fables-after-overlay overlay-lighter bg-rules" style="background-image: url(images/insolvent-crop.png);">
    <div class="container overflow-hidden">  
        <div class="owl-carousel owl-theme default-carousel fables-sqr-nav dots-0 wow fadeInUpBig" data-wow-duration="2s">
              <div>
                  <h1 class="white-color bold-font mt-lg-5 mb-4">JUST SUSTAINABILITY <br> 
                     <span class="fables-second-text-color">DESIGN</span>
                  </h1>  
                  <p class="fables-third-text-color mt-3 mb-5 light-font fables-header-slider-details">
                      Designing Technologies for Just and Sustainable Communities 
                  </p>
                  <a href="#" class="btn fables-second-border-color white-color rounded-0 px-md-4 py-2 fables-second-hover-background-color">Explore More</a>  
              </div> 
              <div>
                  <h1 class="white-color bold-font mt-lg-5 mb-4">OUT NOW! <br> 
                     <span class="fables-second-text-color">Insolvent: How to Reorient Computing<br> for Just Sustainability</span>
                  </h1>  
                   <p class="fables-third-text-color mt-3 mb-5 light-font fables-header-slider-details">
                      By Professor Christoph Becker 
                  </p> 
                  <a href="#" class="btn fables-second-border-color white-color rounded-0 px-md-4 py-2 fables-second-hover-background-color">Learn More</a>
              </div> 
        </div>
    </div>
</div>
